bobody {
    text-align: center;
}
#inputText {
    width: 30%;
    margin: 50px;
    border: 3px solid black;
    padding: 10px;
}
button {
    padding: 10px 20px;
    font-size: 30px;
    box-shadow: 4px 4px black;
    background-color: white;
    cursor: pointer;
}
.error {
    color: red;
}
.container {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: 20px;
    height: 300px;
    align-items: center;
    margin: auto;
}
.seven-segment {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    width: fit-content;
    height: fit-content;
}
.digit {
    font-family: 'Digital';
    background-color: black;
    color: red;
    font-size: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

@font-face {
    font-family: 'Digital';
    src: url('fonts/Technology.ttf') format('truetype');
}  